/*
    +-------------+
    |  gloabl.css |
    +-------------+
    Description : here we have all the css needed to init the product
*/

/* 
    init the style of all of the html elements
*/
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 
    set the font for all elements
*/
html, body {
    font-family: Arial, Helvetica, sans-serif;
 }

 /* 
    unset the ul and li html elements default values
 */
 ul, li {
    list-style: none;
 }

/* 
    variables colors
*/

:root {
    /* colors */
    --color-blue--light: #007ACC;
    --color-blue--medium: #0068AD;
    --color-blue--dark:#001829;
    --color-white:#FFFFFF;
    --color-gray--light:#EDEDED;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 5px;
  }
  
  ::-webkit-scrollbar-track:hover {
    background: #f1f1f1;
    width: 20px;
  }
  
  ::-webkit-scrollbar:hover {
    border: 2px solid transparent;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    border: 0;
    transition: 300ms linear;
  }
  
  *:hover::-webkit-scrollbar {
      width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    width: 5px;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border: 2px solid transparent;
  }